[submodule "bella-language-server"]
	path = bella-language-server
	url = ./bella-language-server/
[submodule "bella-cookbook"]
	path = bella-cookbook
	url = ./bella-cookbook/
[submodule "bella-grammar"]
	path = bella-grammar
	url = ./bella-grammar/
[submodule "bella-generator"]
	path = bella-generator
	url = http://gitlab.hysdev.com/alexey.nikiforov/bella-generator/
