name: "Bella"
scopeName: "source.Bella"
fileTypes: [
  "bs"
]
patterns: [
  {
    include: "#comment"
  }
]
repository:
  comment:
    patterns: [
      {
        name: "comment.block.bella"
        begin: "/\\*(\\*)?"
        beginCaptures:
          "0":
            name: "punctuation.definition.comment.bella"
        end: "\\*/"
        endCaptures:
          "0":
            name: "punctuation.definition.comment.bella"
      }
      {
        begin: "(^\\s+)?(?=//)"
        beginCaptures:
          "1":
            name: "punctuation.whitespace.comment.leading.bella"
        end: "(?=$)"
        patterns: [
          {
            name: "comment.line.double-slash.bella"
            begin: "(?<!/)//(?:(?!/)|(?=//))"
            beginCaptures:
              "0":
                name: "punctuation.definition.comment.bella"
            end: "(?=$)"
          }
        ]
      }
    ]